body {
  padding-top: 70px;
}


/**  Header Navigation **/

header .navbar {
  padding: 20px 0;
  transition: all .5s ease-out;
}

header .navbar-default {
  /*background-color: transparent;*/
  border: none;
}

/** sections **/

.section .content h2 {
  text-align: center;
}

.section {
  padding: 50px 0 50px;
}

.sectionHeader {
  text-align: center;
  margin-bottom: 50px;
}

.sectionHeader:after {
  width: 110px;
  height: 2px;
  background-color: #1E90FF;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/** about section **/

.aboutBg {
  background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("../images/bg2.jpeg");
  background-attachment: fixed;
  color: white;

}

#aboutImage {
  text-align: center;
}

#aboutImage img {
  max-width: 250px;
  max-height: 250px;
}

/** services section **/

.servicesBg {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("../images/bg3.jpeg");
    background-attachment: fixed;
    color: white;
  }

.service {
  margin-bottom: 50px;
}

.service img.image {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 75px;
}
